body{
    margin: 0;
    padding: 0;
    background: orange;
   
    }


#root{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    flex-direction: column;
}
#container{
    width: 500px;
    height: 500px;
    background: red;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}

article{
    width: 100px;
    background: rgb(62, 95, 62);
    margin: 15px;
}